@font-face {
   font-family: 'HYQiHei-50S';
   font-display: swap;
   src: url('file:///C:/Users/17530/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-12-14_001239/fonts/HYQiHei-50S/font.ttf');
}
